body {
    background-image: url(download.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.cabeca {
    background-color: rgb(4,6,7);
    position: sticky;
    padding: 2px;
    text-align: center;
    color: rgb(227, 217, 252);
    border-radius: 0px;
    top: 0;
    width: 1224px;
    height: 80px;
    margin: 0;
    z-index: 3;
}

.botao {
    position: absolute;
    top: 1000px;
    background: repeating-linear-gradient(#cda84f, #e3cb85);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 0px;
}

#bot1 {
    left: 471px;
    background-image: url(LirioDoVale.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 141px;
    height: 180px;
}

#bot3 {
    left: 612px;
    background-image: url(Myosotis.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 180px;
}

.txtbt {
  color: black;
  bottom: 0;
  left: 0;
}

.estrela{
  position: absolute;
  top: 150px;
  width: 300px;
  height: 300px;
  z-index: 1;
}
#img1 {
    right: 50px;
}
#img2 {
    left: 50px;
}

.texto2 {
  position: absolute;
  left: 360px;
  color: rgb(227, 217, 252);
  text-align: center;
  align-items: center;
  width: 550px;
  height: 300px;
}
#pt1 {
  top: 725px;
}
#pt2 {
  top: 920px;
  color: transparent;
}

#sumario {
  position: absolute;
  left: 360px;
  text-align: center;
  align-items: center;
  width: 550px;
  height: 210px;
  background: rgba(227, 217, 252,0.50);
  border-radius: 25px;
}
.texto1 {
  color: rgb(66, 4, 4);
  font-family:'Courier New', Courier, monospace;
  z-index: 2;
}

.foto  {
  position: absolute;
  left: 360px;
  top: 400px;
  width: 550px;
  height: 300px;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(0);
  }
}

.glitch:hover {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}